.App {
    padding: 1rem;
}

.Button {
    background: #FFF;
    border: 1px solid black;
    padding: .5rem;
    transition: all .5s;
}

.Button:disabled {
    border-color: #000;
    color: #000;
    opacity: .5;
}
