.CheckGroup {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -.5rem;
}

.CheckGroup__Title {
    flex: 100%;
    font-size: 1.4rem;
    font-weight: normal;
    margin: 0 .5rem;
}

.CheckGroup__Checkbox {
    opacity: 0;
    position: absolute;
}

.CheckGroup__Checkbox:focus + .CheckGroup__Label
{
    border-color: red;
}

.CheckGroup__Checkbox:checked + .CheckGroup__Label {
    background: #EEE;
}

.CheckGroup__Label {
    text-align: center;
    align-items: center;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    height: 10rem;
    justify-content: center;
    margin: .5rem;
    width: 10rem;
}

.CheckGroup__Name {
    display: block;
    font-weight: bold;
}
