.Pizza {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.Pizza__Size {
    flex: 1;
}

.Pizza__Base {
    flex: 1;
}

.Pizza__Toppings {
    flex: 3;
    list-style: none;
    margin: 0;
    padding: 0;
}

.Pizza__Topping {
    display: inline;
}

.Pizza__Topping:not(:last-child):after {
    content: ', ';
}

.Pizza__Price {
    flex: 1;
    text-align: right;
}

@media all and (max-width: 600px) {
    .Pizza__Size {
        flex: 50%;
    }

    .Pizza__Base {
        flex: 50%;
    }
}
