@import "commmon";

.RadioGroup {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -.5rem -.5rem;
}

.RadioGroup__Title {
    @include h2;
    flex: 100%;
    margin: 0 .5rem;
}

.RadioGroup__Radio {
    opacity: 0;
    position: absolute;
}

@include selector("RadioGroup__Radio", "RadioGroup__Label");

.RadioGroup__Name {
    @include h4;
    display: block;
    margin-bottom: .5rem;
}
